svg {
  .EmotionCard {
    transform-origin: center;
    transform-box: fill-box;
    transform: rotateZ(-20deg) translate(50px, -15px) scale(1.12);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .EmotionCard {
      transform: rotateZ(-12deg) translate(60px, -16px) scale(1.12);
    }
  }
}
