.Left,
.Right {
  margin-bottom: 5em;

  h2 {
    margin: 0.3em 0 0.8em;
  }

  p {
    max-width: 540px;
  }
}

@media screen and (min-width: 700px) {
  .Left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
  }

  .Right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 3em;
  }
}

.WorkImg {
  position: relative;
  width: fit-content;
  height: fit-content;

  .Overlay {
    position: absolute;
    left: 45%;
    top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: 700px) {
      opacity: 1;
      left: 100%;
      // top: 20px;
    }

    .SocialItem {
      background-color: rgba(0, 0, 0, 0.25);
      border: 1px solid rgb(255, 255, 255, 0.1);
      border-radius: 50%;
      transition: all 0.2s ease-in-out;

      svg {
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        transform: scale(1.1);

        svg {
          transform: scale(0.8);
        }
      }
    }
  }

  &:hover {
    .Overlay {
      opacity: 1;
    }
  }

  .Thumbnail {
    svg {
      overflow: visible;
      width: 330px;

      @media screen and (min-width: 700px) {
        width: 400px;
        height: fit-content;
      }

      @media screen and (min-width: 1000px) {
        width: 550px !important;
      }
    }
  }
}

.Right {
  .Overlay {
    left: 40%;
  }
}
