.MainContent {
  margin-bottom: 5em;

  .Full {
    height: 100%;
  }

  .NoMargin {
    margin: 0 !important;
  }

  .ContentSection {
    margin-bottom: 3.5em;

    h2 {
      margin-top: 0;
    }

    img {
      height: auto;
      margin: 1em 0;
    }

    ul {
      list-style-type: initial;
      margin-left: 2em;
    }

    .TwoColumnGrid {
      @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
      }
    }

    .ThreeColumnGrid {
      margin: 2em 0;

      @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        gap: 2em;
      }

      img {
        margin: 0;
      }
    }
  }
}
