@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

.MainContent {
  margin-bottom: 5em;

  p,
  a,
  li {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
  }

  .Full {
    height: 100%;
  }

  .NoMargin {
    margin: 0 !important;
  }

  .ContentSection {
    margin-bottom: 3.5em;

    h2 {
      margin-top: 0;
    }

    img {
      height: auto;
      margin: 1em 0;
    }

    ul {
      list-style-type: initial;
      margin-left: 2em;
    }

    img {
      margin: 0;
    }
  }

  .TwoColumnGrid {
    @media (min-width: 700px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      gap: 2em;
    }
  }

  .ThreeColumnGrid {
    margin: 2em 0;

    @media (min-width: 700px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: start;
      gap: 2em;
    }
  }
}
