svg {
  .SpaceCard {
    transform-origin: center;
    transform-box: fill-box;
    transform: rotateZ(-19deg) translate(20px, -35px);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .SpaceCard {
      transform: rotateZ(-15deg) translate(25px, -35px);
    }
  }
}
