.Hero {
  margin-top: 5em;

  @media screen and (min-width: 700px) {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
  }

  .HeroText {
    margin-right: 1em;

    p {
      max-width: 460px;
    }

    span {
      font-weight: 500;
    }

    .Button {
      margin-top: 4em;
      position: relative;

      .HeroButton {
        position: relative;

        &::after {
          content: "";
          font-size: 10px;
          color: black;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 30px;
          left: 80px;
          display: block;
          z-index: 6;
          display: flex;
          opacity: 0.3;
          justify-content: center;
          align-items: center;
          transition: all 0.2s ease-in;
        }
      }

      .HeroButton:hover {
        &::after {
          content: "Copy to clipboard";
          width: 100%;
          top: 40px;
          left: 100px;
          opacity: 0.8;
        }
      }
    }
  }

  .HeroImg {
    // width: 50%;
    max-width: 700px;
    height: auto;

    @media screen and (max-width: 700px) {
      margin-top: 3.5em;
      width: 100%;
      height: auto;
    }
  }
}
