.BlogPost {
  max-width: 780px;
  margin: 4em auto;

  p {
    font-size: 1rem;
  }

  .TitleSection {
    margin-bottom: 4em;

    h1 {
      margin: 0.5em 0 0;
    }

    .Info {
      opacity: 0.6;
      font-size: 0.825rem;
    }
  }

  li {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 1em 1em;
    opacity: 0.8;
    line-height: 200%;
    position: relative;
  }

  ul {
    li {
      margin: 0 0 1em 3em;

      &::before {
        content: "-";
        position: absolute;
        left: -1em;
      }
    }
  }
}
