.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .SocialLinks {
    display: flex;
    align-items: center;
    gap: 2em;

    .SocialItem {
      width: 40px !important;
      opacity: 0.8;
      transition: all 0.1s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
