.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .SocialLinks {
    display: flex;
    align-items: center;
    gap: 2em;

    @media screen and (max-width: 700px) {
      gap: 0.5em;
    }

    .SocialItem {
      width: 40px !important;
      opacity: 0.8;
      transition: all 0.1s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .Copyright {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      width: 34px;
      height: auto;
    }

    a {
      transition: all 0.1s ease-in-out;

      &:hover {
        opacity: 0.8;
      }

      @media screen and (max-width: 700px) {
        display: none;
      }
    }
  }
}
