.Blog {
  .Hero {
    margin: 2.5em 0 5em;

    p {
      max-width: 600px;
    }
  }

  h5 {
    margin-bottom: 1.5em;
  }

  .BlogGrid {
    display: grid;
    gap: 2em;

    @media screen and (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
