svg {
  .EmotionCard {
    transform-origin: center;
    transform-box: fill-box;
    transform: rotateZ(-22deg) translate(15px, -20px);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .EmotionCard {
      transform: rotateZ(-15deg) translate(20px, -15px);
    }
  }
}
