.WorkContainer {
  position: relative;
  margin-bottom: 10em;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    height: 110%;
    background: linear-gradient(
      180deg,
      rgba(246, 247, 254, 0) 0%,
      #f6f7fe 8%,
      #f6f7fe 90%,
      rgba(246, 247, 254, 0) 100%
    );
    z-index: -1;
  }

  h1 {
    text-align: center;
    margin-bottom: 0.8em;
  }

  .Filters {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
    margin-bottom: 4em;

    .FilterButton:first-child {
      justify-self: end;
    }

    .FilterButton {
      background: none;
      border: none;
      font-family: inherit;
      font-size: 0.75rem;
      font-weight: 500;
      color: #6773ff;
      letter-spacing: 0.15em;
      padding: 0.8em 2em;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
      opacity: 0.8;

      &:hover {
        background-color: rgba(196, 188, 255, 0.2);
        opacity: 0.9;
        cursor: pointer;
      }
    }

    .Selected {
      background-color: rgba(196, 188, 255, 0.2);
      opacity: 1;
    }
  }
}
