svg {
  .VroomPage {
    transform-origin: center;
    transform-box: fill-box;
    transform: translate(5px);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .VroomPage {
      transform: rotateZ(-6deg) translate(-5px, -5px);
    }
  }
}
