.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Links {
    display: flex;
    gap: 4em;
    transition: all 0.1s ease-in-out;

    a:hover {
      opacity: 0.8;
    }
  }

  .SocialLinks {
    display: flex;
    align-items: center;
    gap: 2em;

    @media screen and (max-width: 700px) {
      display: none;
    }

    .SocialItem {
      width: 40px !important;
      opacity: 0.8;
      transition: all 0.1s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
