.Journey {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0 3em;

  @media screen and (max-width: 1000px) {
    flex-direction: column;

    .AboutText {
      margin-top: 3.5em;
      margin-left: 0 !important;
    }
  }

  .AboutImg {
    max-width: 600px;
    max-height: 500px;
    min-width: 400px;
    height: auto;

    @media screen and (max-width: 700px) {
      min-width: 200px;
    }
  }

  .AboutText {
    max-width: 540px;
    margin-left: 4.5em;

    p {
      font-size: 0.8rem;
    }
  }
}
